.auth-form {
  margin-left: 35%;
  width: 30%;
  text-align: left;
}

.form-header {
  text-align: center;
}

label {
  font-size: large;
  margin-bottom: 3px;
}

.form-group {
  margin-top: 12px;
}

.submit-btn {
  margin-top: 5px;
  background-color: cornflowerblue;
  color: #fff;
  transition: .5s;
}

.submit-btn:hover {
  background-color: crimson;
}
